@medium: medium;
@normal: normal;
@60:60px;
@50:50px;
@40:40px;
@30:30px;

h1 {
  	font-size: 79px;
  	font-weight: @medium ;
}

h2{
	font-size: 26px;
  	font-weight: @medium;
}

h3{
	font-size: 16px ;
  	font-weight: @medium;
}

p{
	font-weight: @normal;
}
 .ft-food {
    font-size: 37px;
    text-align: center;
    color: #c1bbbb;
    margin-top: 13px;
    margin-bottom: 10px;
}

.pd-0{
  padding: 0 !important;
}

.product-span{
  color: @orange;
}
.sp-color{
  color:#262221;
}
.text-al-left{
  text-align: @left;
}
.text-al-right{
  text-align: @right;
}

.ft-cl-franc{
  color: #b7bbc2 ; 
}

.fs-20{
  font-size: @20;
}
.fl-right{
  float: right;
}
.fs-40{
  font-size: @40;
}
.fs-f-30{
  font-size: @30; 
}
.pd-t-30{
  padding-top: @30;
}
.pd-b-30{
  padding-bottom: @30;
}
.pd-r-20{
  padding-right: @20;
}
.pd-t-40{
  padding-top: @40;
}
.m-b-20{
  margin-bottom: @20;
}
.m-t-20{
  margin-top: @20;
}
.m-t-40{
  margin-top: @40;
}
.m-t-50{
  margin-top: @20;
}
.pd-l-20{
  padding-left: @20;
}
.ft-c-o{
  color: @orange; //
}
.fs-30{
  font-size: @30 !important;
}
.fs-25{
  font-size: 25px ;
}
.fs-20{
  font-size: @20 ;
}
.pd-t-60{
  padding-top: @60; 
}
.pd-b-60{
  padding-bottom: @60;
}
.fl-right{
  float: right;
}
.fl-left{
  float: @left;
}
.pd-r-20{
  padding-right: @20;
}
.pd-r-30{
  padding-right: @30;
}
.ft-18{
  font-size: 18px ;
  color: #b2b2b2 ;
}

.position-center-fra{
     position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.position-center-f{
     position: @absolute;
    left: 50%;
    top:35%;
    transform: translate(-50%,-50%);
}
p{
  color: @white;
}
.cl-gray{
  color: #b7bbc2;
}
.position-icon{
   position: @absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.margin-top{
  margin-top: 0;
}
.position-icon-left{
    position: @absolute;
    left: 95%;
    top:50%;
    transform: translate(-50%,-50%);
}
.position-icon-right{
   position: @absolute;
    right: 0%;
    top:80%;
    transform: translate(-50%,-50%);
}
.position-promo{
  position: @absolute;
    left: 50%;
    top:10%;
    transform: translate(-50%,-50%);
    text-align: @center;
}
.position-offer{
  position: @absolute;
    left: 30%;
    top:5%;
    transform: translate(-50%,-50%);
    text-align: @center;
}

.m-b-blog{
margin-bottom: 0 ;
}
.text-trans{
  /* Safari */
-webkit-transform: rotate(-30deg);

/* Firefox */
-moz-transform: rotate(-30deg);

/* IE */
-ms-transform: rotate(-30deg);

/* Opera */
-o-transform: rotate(-30deg);
}
.text-al-center{
    text-align: -webkit-center;
} 
@media only screen and (max-width: 1000px) {
.fs-50{
  font-size: 35px ;
}
}

@media only screen and (max-height: 768px) {
.pd-none{ 
  padding: 0 ;
  margin: 0 ;
}
.ft-food{
  font-size: @30;
}
.fl-none{
  float: @none;
}
.margin-none{
  margin: @none ;
}
.mobile-pd-left-10{
  padding-left: 10px;
}
.mobile-pd-right-10{
  padding-right: 10px;
}
.mobile-hight{
  min-height: 400px;
}
.mobile-hight-food{
  min-height: 350px;
}
.mobile-hight-food2{
  min-height:250px;
}
.mobile-width{
  min-width: 250px;
}
.m-0{
  margin: 0;
}
.pd-top-10{
  padding-top: 10px;
}
h1.product-span{
  font-size: @30 ;
}

.margin-mobile-20{
  margin-top: @20;
}
.ft-food-col{
  color: #262221 ;
}
.pd-top-20{
  padding-top: @20 ;
}
.margin-bottom{
  margin-bottom: @30 ;
}
.mobile-pd-30{
  padding-bottom: @30;
}
.mobile-pd-t-60{
  padding-top: 63px;
}
.mobile-pd-b-60{
  padding-bottom: 71px;
}
.blog-dis{
  display: @none;
}
 .main-heading {
    font-size: @40; //
}
.m-fs-60{
  font-size: @60 ;
}

}
@media only screen and (max-height: 766px) {
.mobile-hight{
  min-height: 400px; //
}

.m-p-none{
  padding: @none ;
  margin: @none ; //
} 
.fs-f-20{
  font-size: @20 ;
}

}

@media (max-width: 768px) {
.mb-ft-20{
  font-size: @20;
}
.min-height-blog{
min-height: 150px;
}
.min-h-fran{
  min-height: 250px ;

}
.ft-fan-25{
  font-size: 25px ;
}
.mb-ft-15{
  font-size: 15px !important; //
}
.m-p-none{
  padding: 0 ;
  margin: 0 ;
}
.m-b-20{
margin-bottom: @20 ;
}

}
@media (max-width: 414px) {
 .main-heading {
    font-size: @20 ;
  }
  .ft-mobile-20{
  font-size: @20 !important;
}
.ft-mobile-15{
  font-size: 15px !important ; //
}
.m-fs-30{
  font-size: @30 ; //
}

.m-auto{
  margin: auto ;
}

.pd-m-r-20{
  padding-right: @20 ;
}
.ft-food{
  font-size: 25px;
}
}

@media (min-width: 768px) {
.position_food{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
}
@media (max-width: 600px) {
.position-promo{
  position: @absolute;
    left: 50%;
    top:20%;
    transform: translate(-50%,-50%);
    text-align: @center;
}
}