	/******************OTHER******************/
.food-image
{
	display: none;
}

.kebab
{
	display: block;
}

.content
{
	background-image:url('../pictures/homepage.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	padding: 0;
	margin: 0;
	background-position: center;
}

ul.list-food{
	padding: 10px;
}
.pd-none{
padding: none !important;
}
.height-inherit{
	height: inherit;
}
ul.list-food>li{
	padding-top: 5px;
	padding-bottom: 5px;
}
.p-0{
	padding: 0 !important;
}

div.col-md-6{
	padding: 0;
	margin: 0;
}

.bg-food{
	background-image:url('../pictures/food/layer_food.png');
	background-repeat:no-repeat;
	background-size:cover;
  	line-height: 90px;
  	position: inherit;
	line-height: 15px;
	padding: 0;
	margin: 0;

}
.container-fluid{
	padding: 0;
	margin: 0;
}


.ul-center{
    position: relative;
    height: -webkit-fill-available;
}
.img-list{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

p.ft-food{
	font-family: 'handelsonfour';
    src: url('handelson-four_0-webfont.woff2') format('woff2'),
    url('handelson-four_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: #b7bbc2;
    font-size: 50px !important;
    margin-top: 20px !important;
    text-align: center;
}
.row-height{
	height: 100%;
}
.products-height{
	height: 25%;
}


.bg-white{
	background-color: @white;
}

//offer
.bg-offer{
backgroud:#fef4e9;

}
.bg-product{
	background-image:url('../pictures/food/products/product-img.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	line-height: 15px;
	padding: 0;
	margin: 0;
	height: inherit;
}
.bg-might{
	background-image:url('../pictures/food/products/product-might.png');
	background-repeat:no-repeat;
	background-size:cover;
	line-height: 15px;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}
.bg-find{
	background-image:url('../pictures/food/products/product-find.png');
	background-repeat:no-repeat;
	background-size:cover;
	line-height: 15px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
}
.bg-green{
background: -moz-linear-gradient(left, #f2f5f6 65%, #23a010 65%, #23a010 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f2f5f6 65%,#23a010 65%,#23a010 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f2f5f6 65%,#23a010 65%,#23a010 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bg-comment{
	background-image:url('../pictures/food/products/product-comment.png');
	background-repeat:no-repeat;
	background-size:cover;
	line-height: 15px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
}
.bg-offer{
	background-color: white;
	background-repeat:no-repeat;
	background-size:cover;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;

}
.bg-promo{
	background-image:url('../pictures/food/products/product-img.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	line-height: 15px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
}


.bg-map{
	background-image:url('../pictures/location/map.png');
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	height: 100%;
}
#map{
       width: 100%;
       height: 100%;
       background-color: grey;
 }
 .bg-franchise{
	background-image:url('../pictures/franchise/franchise.png');
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	line-height: normal;

}

.bg-franchise2{
	height: 100%;
		line-height: normal;
}
.bg-franchise3{
	background-color: @white;
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	height: 63%;
		line-height: normal;
}
.bg-franchise3{
	background-image:url('../pictures/franchise/franchise4.png');
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	height: 63%;
	line-height: normal;
}
.bg-franchise5{
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	height: 27%;
	position: relative;
	line-height: normal;
}

.r-height{
	height: inherit;
}	
.bg-prom{
	background-image:url('../pictures/blog/blog-prom.png');
	background-repeat:no-repeat;
	background-size:cover;
    background-position: center;
	background-size:cover;
	margin: 0;
	height: 33%;
}
.bg-new{
	background-image:url('../pictures/blog/blog-new.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	background-size:cover;
	margin: 0;
	height: 33%;
}
.bg-trip{
	background-image:url('../pictures/blog/blog-trip.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	margin: 0;
	height: 33%;
}
.bg-magic{
	background-color: @white;
	background-size:cover;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	margin: 0;
	height: 33%;
}
.bg-magic1{
	background-image:url('../pictures/blog/blog-magic.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	margin: 0;
	height: 33%;
}
.bg-tortilla{
	background-image:url('../pictures/blog/blog-tortilla.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	margin: 0;
	height: 33%;
}
.bg-salata{
	background-image:url('../pictures/blog/blog-salata.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	margin: 0;
	height: 33%;
}
.bg-height-blog{
	height: 33%;
}
